<div id="main">

  <div id="menu-superior">

  </div>

  <div id="menu-izquierdo">
    <ul>
      <li><a routerLink="calculadora" routerLinkActive="active">Calculadora</a></li>
      <ul>
        <li><a routerLink="miHuella" routerLinkActive="active">Huella</a></li>
        <li><a routerLink="consumoAgua" routerLinkActive="active">Consumo agua</a></li>
        <li><a routerLink="gases" routerLinkActive="active">Gases</a></li>
      </ul>

      <li><a routerLink="administracion" routerLinkActive="active">Administración</a> </li>
      <ul>
        <li><a routerLink="admAgua" routerLinkActive="active">Agua</a></li>
        <li><a routerLink="admGases" routerLinkActive="active">Gases</a></li>
        <li><a routerLink="admPaises" routerLinkActive="active">Paises</a></li>
        <li><a routerLink="admUsuarios" routerLinkActive="active">Usuarios</a></li>
      </ul>
    </ul>

  </div>
  
  <router-outlet></router-outlet>

</div>