<div id="main">
  <div id="menu-superior" style="text-align: right">
    Usuario actualmente logueado
  </div>
  
  <div id="menu-izquierdo" style="width: 35%; float: left">
    <ul>
      <li>
        <a routerLink="calculadoras">Calculadoras</a>
      </li>
      <li>
        <ul>
          <li>
            <a routerLink="mi-huella">Mi huella ecológica</a>            
          </li>
          <li>
            <a routerLink="mi-agua">Mi consumo de agua</a>
          </li>
          <li>
            <a routerLink="mis-gases">Mi impacto gaseoso</a>
          </li>
        </ul>
      </li>
      <li>Administración</li>
      <li>
        <ul>
          <li>
            <a routerLink="admin-agua">Agua</a>
          </li>
          <li>
            <a routerLink="admin-gas">Gases</a>
          </li>
          <li>
            <a routerLink="admin-paises">Países</a>
          </li>
          <li>
            <a routerLink="admin-users">Usuarios</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="contenido-principal" style="width: 64%; float: left">
    <router-outlet></router-outlet>
  </div>
</div>